In [3]:
import pandas as pd
import numpy as np

In [4]:
data=pd.read_csv("https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2019/2019-07-23/wildlife_impacts.csv")
data.head()

,incident_date,state,airport_id,airport,operator,atype,type_eng,species_id,species,damage,...,incident_month,incident_year,time_of_day,time,height,speed,phase_of_flt,sky,precip,cost_repairs_infl_adj
0,2018-12-31T00:00:00Z,FL,KMIA,MIAMI INTL,AMERICAN AIRLINES,B-737-800,D,UNKBL,Unknown bird - large,M?,...,12,2018,Day,1207.0,700.0,200.0,Climb,Some Cloud,None,NaN
1,2018-12-29T00:00:00Z,IN,KIND,INDIANAPOLIS INTL ARPT,AMERICAN AIRLINES,B-737-800,D,R,Owls,N,...,12,2018,Night,2355.0,0.0,NaN,Landing Roll,NaN,NaN,NaN
2,2018-12-29T00:00:00Z,NaN,ZZZZ,UNKNOWN,AMERICAN AIRLINES,UNKNOWN,NaN,R2004,Short-eared owl,NaN,...,12,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-12-27T00:00:00Z,NaN,ZZZZ,UNKNOWN,AMERICAN AIRLINES,B-737-900,D,N5205,Southern lapwing,M?,...,12,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-12-27T00:00:00Z,NaN,ZZZZ,UNKNOWN,AMERICAN AIRLINES,B-737-800,D,J2139,Lesser scaup,M?,...,12,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data.drop_duplicates()
data.shape

(56978, 21)

In [6]:
data.isnull().sum()

incident_date                0
state                    12671
airport_id                   0
airport                      0
operator                     0
atype                        0
type_eng                   234
species_id                   0
species                      0
damage                    4324
num_engs                   233
incident_month               0
incident_year                0
time_of_day              16133
time                     26124
height                   18038
speed                    30046
phase_of_flt             11469
sky                      20485
precip                   21614
cost_repairs_infl_adj    56363
dtype: int64

In [7]:
data = data.drop(columns=['cost_repairs_infl_adj'])

data = data.dropna()

In [6]:
#data = data[(data[['height']] != 0).all(axis=1)]

In [7]:
#data = data[(data[['damage']]!= 'N').all(axis=1)]

In [8]:
data.isnull().sum()

incident_date     0
state             0
airport_id        0
airport           0
operator          0
atype             0
type_eng          0
species_id        0
species           0
damage            0
num_engs          0
incident_month    0
incident_year     0
time_of_day       0
time              0
height            0
speed             0
phase_of_flt      0
sky               0
precip            0
dtype: int64

In [9]:
data.head()

,incident_date,state,airport_id,airport,operator,atype,type_eng,species_id,species,damage,num_engs,incident_month,incident_year,time_of_day,time,height,speed,phase_of_flt,sky,precip
0,2018-12-31T00:00:00Z,FL,KMIA,MIAMI INTL,AMERICAN AIRLINES,B-737-800,D,UNKBL,Unknown bird - large,M?,2.0,12,2018,Day,1207.0,700.0,200.0,Climb,Some Cloud,None
6,2018-12-27T00:00:00Z,FL,KMCO,ORLANDO INTL,AMERICAN AIRLINES,A-321,D,UNKBS,Unknown bird - small,N,2.0,12,2018,Night,948.0,600.0,145.0,Approach,Some Cloud,None
9,2018-12-23T00:00:00Z,FL,KFLL,FORT LAUDERDALE/HOLLYWOOD INTL,AMERICAN AIRLINES,B-737-800,D,I1301,Cattle egret,N,2.0,12,2018,Day,1321.0,0.0,130.0,Take-off run,No Cloud,None
19,2018-12-18T00:00:00Z,AZ,KPHX,PHOENIX SKY HARBOR INTL ARPT,AMERICAN AIRLINES,B-737-800,D,UNKBS,Unknown bird - small,N,2.0,12,2018,Night,2130.0,4500.0,250.0,Climb,No Cloud,None
27,2018-12-12T00:00:00Z,NM,KABQ,ALBUQUERQUE INTL SUNPORT,AMERICAN AIRLINES,B-737-800,D,YH004,Horned lark,N,2.0,12,2018,Day,1305.0,0.0,160.0,Take-off run,Some Cloud,None

In [10]:
data['state'].nunique()

56

In [11]:
data['incident_year'].unique()

array([2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008,
       2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997,
       1996, 1994, 1993, 1991, 1990, 1995, 1992])

In [12]:
data['time_of_day'].unique()

array(['Day', 'Night', 'Dusk', 'Dawn'], dtype=object)

In [13]:
data['damage'].unique()

array(['M?', 'N', 'M', 'S'], dtype=object)

In [14]:
data['num_engs'].unique()

array([2., 3., 4.])

In [15]:
data['operator'].unique()

array(['AMERICAN AIRLINES', 'DELTA AIR LINES', 'SOUTHWEST AIRLINES',
       'UNITED AIRLINES'], dtype=object)

In [16]:
data['damage'] = data['damage'].replace(['M?', 'N', 'M', 'S'], ['Uncertain', 'None', 'Minor', 'Substantial'])
data.head()
data['damage'].unique()

array(['Uncertain', 'None', 'Minor', 'Substantial'], dtype=object)

In [17]:
data['state'] = data['state'].replace(['FL', 'AZ', 'NM', 'CA', 'TX', 'MO', 'MA', 'NC', 'VI', 'NY', 'PA',
       'IL', 'IN', 'TN', 'GA', 'HI', 'NJ', 'NV', 'CT', 'DC', 'BC', 'MN',
       'MD', 'OH', 'OK', 'SC', 'IA', 'MI', 'UT', 'KS', 'ME', 'NE', 'OR',
       'VA', 'CO', 'LA', 'RI', 'WA', 'MS', 'PR', 'AL', 'ID', 'AR', 'WI',
       'ON', 'WY', 'KY', 'QC', 'ND', 'AB', 'WV', 'AK', 'PI', 'MT', 'SD',
       'NH'],
        ['Florida', 'Arizona', 'New Mexico', 'California', 'Texas', 'Missouri', 'Massachusetts', 'North Carolina',
         'Virgin Islands', 'New York', 'Pennsylvania', 'Illinois', 'Indiana', 'Tennessee', 'Georgia', 'Hawaii', 'New Jersey',
         'Nevada', 'Connecticut', 'District of Columbia', 'British Columbia', 'Minnesota', 'Maryland', 'Ohio', 'Oklahoma',
         'South Carolina', 'Iowa', 'Michigan', 'Utah', 'Kansas', 'Maine', 'Nebraska', 'Oregon', 'Virginia', 'Colorado',
         'Louisiana', 'Rhode Island', 'Washington', 'Mississippi', 'Puerto Rico', 'Alabama', 'Idaho', 'Arkansas', 'Wisconsin',
         'Ontario', 'Wyoming', 'Kentucky', 'Quebec', 'North Dakota', 'Alberta', 'West Virginia', 'Alaska', 'Pacific Islands',
         'Montana', 'South Dakota', 'New Hampshire'])

In [18]:
# from collections import Counter

# list1 = ['Florida', 'Arizona', 'New Mexico', 'California', 'Texas', 'Missouri', 'Massachusetts', 'North Carolina',
#          'Virgin Islands', 'New York', 'Pennsylvania', 'Illinois', 'Indiana', 'Tennessee', 'Georgia', 'Hawaii', 'New Jersey',
#          'Nevada', 'Connecticut', 'District of Columbia', 'British Columbia', 'Minnesota', 'Maryland', 'Ohio', 'Oklahoma',
#          'South Carolina', 'Iowa', 'Michigan', 'Utah', 'Kansas', 'Maine', 'Nebraska', 'Oregon', 'Virginia', 'Colorado',
#          'Louisiana', 'Rhode Island', 'Washington', 'Mississippi', 'Puerto Rico', 'Alabama', 'Idaho', 'Arkansas', 'Wisconsin',
#          'Ontario', 'Wyoming', 'Kentucky', 'Quebec', 'North Dakota', 'Alberta', 'West Virginia', 'Alaska', 'Pacific Islands',
#          'Montana', 'South Dakota', 'New Hampshire']
# len(Counter(list1).keys())

In [19]:
data.shape

(15215, 20)

In [20]:
data['time'] = pd.to_datetime(data['time'])
data

,incident_date,state,airport_id,airport,operator,atype,type_eng,species_id,species,damage,num_engs,incident_month,incident_year,time_of_day,time,height,speed,phase_of_flt,sky,precip
0,2018-12-31T00:00:00Z,Florida,KMIA,MIAMI INTL,AMERICAN AIRLINES,B-737-800,D,UNKBL,Unknown bird - large,Uncertain,2.0,12,2018,Day,1970-01-01 00:00:00.000001207,700.0,200.0,Climb,Some Cloud,None
6,2018-12-27T00:00:00Z,Florida,KMCO,ORLANDO INTL,AMERICAN AIRLINES,A-321,D,UNKBS,Unknown bird - small,None,2.0,12,2018,Night,1970-01-01 00:00:00.000000948,600.0,145.0,Approach,Some Cloud,None
9,2018-12-23T00:00:00Z,Florida,KFLL,FORT LAUDERDALE/HOLLYWOOD INTL,AMERICAN AIRLINES,B-737-800,D,I1301,Cattle egret,None,2.0,12,2018,Day,1970-01-01 00:00:00.000001321,0.0,130.0,Take-off run,No Cloud,None
19,2018-12-18T00:00:00Z,Arizona,KPHX,PHOENIX SKY HARBOR INTL ARPT,AMERICAN AIRLINES,B-737-800,D,UNKBS,Unknown bird - small,None,2.0,12,2018,Night,1970-01-01 00:00:00.000002130,4500.0,250.0,Climb,No Cloud,None
27,2018-12-12T00:00:00Z,New Mexico,KABQ,ALBUQUERQUE INTL SUNPORT,AMERICAN AIRLINES,B-737-800,D,YH004,Horned lark,None,2.0,12,2018,Day,1970-01-01 00:00:00.000001305,0.0,160.0,Take-off run,Some Cloud,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56547,1993-01-20T00:00:00Z,New York,KLGA,LA GUARDIA ARPT,UNITED AIRLINES,B-737-300,D,J2204,Canada goose,Substantial,2.0,1,1993,Night,1970-01-01 00:00:00.000001810,0.0,100.0,Take-off run,No Cloud,None
56631,1992-08-14T00:00:00Z,New York,KLGA,LA GUARDIA ARPT,UNITED AIRLINES,B-727-100,D,H4105,Double-crested cormorant,Minor,3.0,8,1992,Day,1970-01-01 00:00:00.000000825,100.0,149.0,Climb,Overcast,None
56794,1991-08-21T00:00:00Z,New York,KJFK,JOHN F KENNEDY INTL,UNITED AIRLINES,B-747-1/200,D,K5102,Peregrine falcon,Substantial,4.0,8,1991,Day,1970-01-01 00:00:00.000001220,0.0,90.0,Take-off run,No Cloud,None
56918,1990-12-20T00:00:00Z,Kentucky,KCVG,CINCINNATI/NORTHERN KENTUCKY INTL ARPT,UNITED AIRLINES,B-737-200,D,UNKBM,Unknown bird - medium,Uncertain,2.0,12,1990,Dusk,1970-01-01 00:00:00.000001731,890.0,140.0,Climb,Some Cloud,None
56921,1990-11-21T00:00:00Z,Illinois,KMLI,QUAD CITY ARPT,UNITED AIRLINES,B-737-300,D,NE1,Gulls,Substantial,2.0,11,1990,Dawn,1970-01-01 00:00:00.000000708,60.0,155.0,Climb,Overcast,Rain

In [21]:
data['time'] = pd.to_datetime(data['time'])

In [25]:
data.to_csv('strikes.csv', index=False)